---
http_interactions:
- request:
    method: post
    uri: "<HOST>/api/settings"
    body:
      encoding: UTF-8
      string: '{"appearance":{"color":"blue","name":"Test OctoPrint"}}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"57f0a6be258c13d9d4928506f7be03ae2dff07af"'
      Last-Modified:
      - Sun, 08 Feb 2026 22:18:01 GMT
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: |
        {
          "accessControl": {
            "autologinHeadsupAcknowledged": false,
            "autologinLocal": false
          },
          "api": {
            "allowCrossOrigin": false,
            "key": "Fzbtaup8Czj-_Mie19esYTLEViZeTCWj4AAsWaN4VOo"
          },
          "appearance": {
            "closeModalsWithClick": true,
            "color": "blue",
            "colorIcon": true,
            "colorTransparent": false,
            "defaultLanguage": "_default",
            "fuzzyTimes": true,
            "name": "Test OctoPrint",
            "showFahrenheitAlso": false,
            "showInternalFilename": true
          },
          "controls": [],
          "devel": {
            "pluginTimings": false
          },
          "feature": {
            "autoUppercaseBlacklist": [
              "M117",
              "M118",
              "M707",
              "M708"
            ],
            "enableDragDropUpload": true,
            "fileDeleteConfirmation": true,
            "g90InfluencesExtruder": false,
            "keyboardControl": true,
            "modelSizeDetection": true,
            "pollWatched": false,
            "printCancelConfirmation": true,
            "printStartConfirmation": false,
            "rememberFileFolder": false,
            "sdSupport": true,
            "temperatureGraph": true,
            "uploadOverwriteConfirmation": true
          },
          "folder": {
            "timelapse": "/octoprint/octoprint/timelapse",
            "uploads": "/octoprint/octoprint/uploads",
            "watched": "/octoprint/octoprint/watched"
          },
          "gcodeAnalysis": {
            "bedZ": 0.0,
            "runAt": "idle"
          },
          "plugins": {
            "achievements": {
              "timezone": ""
            },
            "action_command_notification": {
              "enable": true,
              "enable_popups": false,
              "filter": ""
            },
            "action_command_prompt": {
              "command": "M876",
              "enable": "detected",
              "enable_emergency_sending": true,
              "enable_signal_support": true
            },
            "announcements": {
              "channel_order": [
                "_important",
                "_releases",
                "_blog",
                "_plugins",
                "_octopi"
              ],
              "channels": {
                "_blog": {
                  "description": "Development news, community spotlights, OctoPrint On Air episodes and more from the official OctoBlog.",
                  "name": "On the OctoBlog",
                  "priority": 2,
                  "read_until": 1765879200,
                  "type": "rss",
                  "url": "https://octoprint.org/feeds/octoblog.xml"
                },
                "_important": {
                  "description": "Important announcements about OctoPrint.",
                  "name": "Important Announcements",
                  "priority": 1,
                  "read_until": 1698310200,
                  "type": "rss",
                  "url": "https://octoprint.org/feeds/important.xml"
                },
                "_octopi": {
                  "description": "News around OctoPi, the Raspberry Pi image including OctoPrint.",
                  "name": "OctoPi News",
                  "priority": 2,
                  "read_until": 1746515700,
                  "type": "rss",
                  "url": "https://octoprint.org/feeds/octopi.xml"
                },
                "_plugins": {
                  "description": "Announcements of new plugins released on the official Plugin Repository.",
                  "name": "New Plugins in the Repository",
                  "priority": 2,
                  "read_until": 1765324800,
                  "type": "rss",
                  "url": "https://plugins.octoprint.org/feed.xml"
                },
                "_releases": {
                  "description": "Announcements of new releases and release candidates of OctoPrint.",
                  "name": "Release Announcements",
                  "priority": 2,
                  "read_until": 1769520000,
                  "type": "rss",
                  "url": "https://octoprint.org/feeds/releases.xml"
                }
              },
              "display_limit": 3,
              "enabled_channels": [
                "_important",
                "_releases",
                "_blog",
                "_plugins",
                "_octopi"
              ],
              "forced_channels": [
                "_important"
              ],
              "summary_limit": 300,
              "ttl": 360
            },
            "backup": {
              "restore_unsupported": false
            },
            "classicwebcam": {
              "cacheBuster": false,
              "flipH": false,
              "flipV": false,
              "rotate90": false,
              "snapshot": "http://localhost:8080/?action=snapshot",
              "snapshotAuth": "none",
              "snapshotBearerToken": "",
              "snapshotPassword": "",
              "snapshotSslValidation": true,
              "snapshotTimeout": 5,
              "snapshotUsername": "",
              "stream": "/webcam/?action=stream",
              "streamRatio": "16:9",
              "streamTimeout": 5,
              "streamWebrtcIceServers": [
                "stun:stun.l.google.com:19302"
              ]
            },
            "discovery": {
              "addresses": null,
              "httpPassword": null,
              "httpUsername": null,
              "ignoredAddresses": null,
              "ignoredInterfaces": null,
              "interfaces": null,
              "model": {
                "description": null,
                "name": null,
                "number": null,
                "serial": null,
                "url": null,
                "vendor": null,
                "vendorUrl": null
              },
              "pathPrefix": null,
              "publicHost": null,
              "publicPort": null,
              "upnpUuid": "67c9f3d8-c536-464b-b047-96d4e4c68fca",
              "zeroConf": []
            },
            "errortracking": {
              "enabled": false,
              "enabled_unreleased": false,
              "unique_id": "9564c6ff-36bd-4768-87f9-ed1c462f44a7",
              "url_coreui": "https://566c06dedcfc5b75b4c9d14af1bf9db2@o118517.ingest.us.sentry.io/1374096",
              "url_server": "https://fd090c5cf06f25dfbfb8a9ed57377a51@o118517.ingest.us.sentry.io/1373987"
            },
            "eventmanager": {
              "availableEvents": [
                "Startup",
                "Shutdown",
                "ConnectivityChanged",
                "Connecting",
                "Connected",
                "Disconnecting",
                "Disconnected",
                "ConnectionsAutorefreshed",
                "PrinterStateChanged",
                "PrinterReset",
                "ClientOpened",
                "ClientClosed",
                "ClientAuthed",
                "ClientDeauthed",
                "UserLoggedIn",
  [...]
