name: Tests

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  RSpec:
    runs-on: ubuntu-latest

##
# Ruby 3.3
# status: preview
# release date:
# normal maintenance until: TBD
# EOL: TBD

# Ruby 3.2
# status: normal maintenance
# release date: 2022-12-25
# normal maintenance until: TBD
# EOL: 2026-03-31 (expected)

# Ruby 3.1
# status: normal maintenance
# release date: 2021-12-25
# normal maintenance until: TBD
# EOL: 2025-03-31 (expected)

# Ruby 3.0
# status: security maintenance
# release date: 2020-12-25
# normal maintenance until: 2023-04-01
# EOL: 2024-03-31 (expected)


    strategy:
      matrix:
        ruby:
          - 3.4
          - 3.3
          - 3.2

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@ed55d55e820a01da7d3e4863a8c51a61d73c3228
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run the default task
      run: bundle exec rspec --format RSpec::Github::Formatter --format documentation
