name: Tests

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  RSpec:
    runs-on: ubuntu-latest

##
# latest info: https://endoflife.date/ruby
#
# Ruby 4.0
# status: normal maintenance
# release date: 2025-12-25
# EOL: 2029-03-31 (expected)

# Ruby 3.4
# status: normal maintenance
# release date: 2024-12-25
# EOL: 2028-03-31 (expected)

# Ruby 3.3
# status: normal maintenance
# release date: 2023-12-25
# EOL: 2027-03-31 (expected)

# Ruby 3.2
# status: security maintenance
# release date: 2022-12-25
# EOL: 2026-03-31

    strategy:
      matrix:
        ruby:
          - 4.0
          - 3.4
          - 3.3
          - 3.2

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run the default task
      run: bundle exec rspec --format RSpec::Github::Formatter --format documentation
